<!DOCTYPE html>

<html ng-app="ygo_folder_app">

<head>

    <title>Yugioh Folder</title>

    <!-- Meta tags go here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/ygo-folder_style_master.css">
    
    <!-- External Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
<script src="https://unpkg.com/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Internal Scripts -->
<script src="scripts/model.js"></script>
<script src="scripts/controller.js"></script>
<script src="scripts/services.js"></script>

    
</head>

<body  ng-controller="ygo_folder_controller as c">
<!-- Begin top navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

    <a class="navbar-brand" href="#">Yugioh Folder</a>

    <!-- Hamburger icon for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_navbar_links" aria-controls="top_navbar_links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="top_navbar_links">
    
        <ul class="navbar-nav">
        
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Buy me a ko-fi</a>
            </li>
            
        </ul>
    </div>
</nav>

<!-- Begin main body, all encapsulated in a .container-fluid and a row-->
<div class="container-fluid">


    <div class="row">

    
    
        <!-- 
        
        Begin search column 
        
        -->
        <div class="col-sm-4">

        
            <!-- Begin search card -->
            <div class="card search-card main-card">

            
                <!-- Begin search card header -->
                <div class="card-header search-card-header main-card-header">

                    <!-- Search bar -->
                    <div class="input-group search-bar">
                    
                        <!-- Search button -->
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" ng-click="c.search_for_card(search_card)">Search</button>
                        </div>

                        <input type="text" ng-model="search_card" class="form-control" placeholder="" aria-label="" aria-describedby="">
                    </div>

                </div>
                <!-- End search card header -->

                <!-- Begin search card body -->
                <ul class="list-group list-group-flush main-card-body search-card-body">
                
                    <!-- Begin search card results -->
                    <li class="list-group-item search-result justify-content-between d-flex" ng-repeat="card in c.search_list">
                        <img class="search_results_img" src="{{card.thumbnail_path}}" />
                        <span class="search_results_name">{{card.name}}</span>
                        <button class="search_results_button btn btn-outline-success" ng-click="c.add_to_collection(card)">+</button>
                                       
                    </li> 
                    <li class="list-group-item"></li>
                    <!-- End search card resutls -->
                    
                </ul>
                <!-- End search card body -->

            </div>
            <!-- End search card -->

        </div>
        <!-- End search column -->


        <!-- 

        Begin collection column 

        -->
        <div class="col-sm-8">

            <!-- Begin collection card -->
            <div class="card main-card collection-card">

                <!-- Begin collection card header -->
                <div class="card-header main-card-header collection-card-header">

                    <!-- Begin collection card navigation -->
                    <ul class="nav nav-tabs collection-nav-tabs card-header-tabs mt-2">
                    
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Collection</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Wishlist</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Decks</a>
                        </li>
                        
                    </ul>

                </div>
                <!-- End collection card header -->

                <!-- Begin collection card body -->
                <div class="card-body main-card-body collection-card-body">
                    <img ng-repeat="card in c.collection" src="{{card.thumbnail_path}}" />

                </div>
                <!-- End collection card body -->

            </div>
            <!-- End collection card -->

        </div>
        <!-- End collection column -->

</div>


</div>



</body>
</html>
